body{
  background-color: #587b7f;
}

.red {
  background-color: red;
}

.green{
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}



.btn {
  margin: 25px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 10px solid black;
  border-radius: 20%;
}

.container{
  text-align: center;
}
