body{
  background-color: #587b7f;
}

.red {
  background-color: #b22222;
}

.green{
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: #FFC000;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 10px solid black;
  border-radius: 20%;
}

.container{
  text-align: center;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
